.warning{
    width: 280px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 10%;
    background-color:grey;
    font-size: 1.1rem;
    color: white;
    font-family: cursive;
    padding: 5px;
    border-radius: 5px;
}